* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #555;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding:0 25px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
   display: inline-block;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a:hover {
    color: #ff523b;
}
.logo {
    cursor: pointer;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.col-2  h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: black;
}
.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 25px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all linear .3s ;
    text-align: center;
}
.btn:hover {
    background: #563434;
}
.header {
    background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
    margin-top: 70px;
}

/* CATEGORY  */
.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 25px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
    cursor: pointer;

}
.small-container {
    padding: 0 25px;
    margin: auto;
    max-width: 1080px;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: all ease-in .1s;
}
.col-4 img {
    width: 100%;
    cursor: pointer;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after {
    content: '';
    position: absolute;
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
h4 {
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;
}
.rating i {
    color: #ff523b;
}
.col-4:hover {
    transform: translateY(-5px);
}
/* OFFER  */
.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img {
    padding: 50px;
}

/* TESTIMONIAL  */
.testimonial {
    padding-top: 100px;
}
.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow:  0 0 20px  0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease .5s;
}
.testimonial .col-3 img {
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);
}
.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial h3 {
    font-weight: 600;
    font-size: 16px;
}

/* BRANDS  */
.brands {
    margin: 100px auto;
}
.col-5 {
    width: 160px;
}
.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover {
    filter: grayscale(0);
}

/* FOOOTER  */
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 30%;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3 , .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
.app-logo {
    margin-top: 20px;
}
.app-logo img {
    width: 140px;
}
.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}
.menu-icon {
    margin-left: 20px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: none;
}

/* ALL PRODUCT PAGE */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}
select {
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus {
    outline: none;
}
.page-btn {
    margin: 0 auto 80px;
}
.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover {
    background:  #ff523b;
    color: #fff;
}


/* SINGLE DETAILS PRODUCT  */

.single-product {
    margin-top: 80px;
}
.single-product .col-2 img {
    padding: 0;
}
.single-product .col-2 {
    padding: 20px;
}
.single-product h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input {
    width: 50px;
    height: 40px;
    text-align: center;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
.single-product input:focus {
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/* RESPONSIVE  */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 25px;
        line-height: 27 px;
    }
}






/* ANIMATION  */
@keyframes slideTop {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideBottom {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
       transform: scale(1);
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes circleRotate  {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}